body {
	font-size: 16px;
	color: #fff;
	background-color: black;
	font-family: 'Oxygen', sans-serif;
}
/*HEADER */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
#logo{
	background: url('../photos/logo.jpg') no-repeat;
	width: 130px;
	height: 140px;	
	margin: 5px 10px 5px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Cookie', cursive;
	color: black;
	font-size: 3.0em;
	font-weight: inherit;
	/*text-transform: uppercase;*/	
	text-shadow: 2px 2px 2px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .85;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p{
	color: #000;
	font-family: 'Lora' , serif;
	text-shadow: 2px 2px 2px #222;		
	font-size: 1.1em;
	margin-top: 4px;
	margin-left: 15px;
}

#phone{
	color: grey;
	text-align: center;	
}

.glyphicon{
	color: #D21947;
}

#phone a{
 	color: grey	;
 	text-align: center;
 	margin-top: 0px;
 	padding-bottom: 0px;
 	font-family: 'Oxygen', sans-serif;
 }										
.item {
	background: url('../photos/logo.jpg') no-repeat;
}

